{% extends '/frontOffice/base.html.twig' %}

{% block body %}
    {% if verificationCode is defined %}
        <h1>Confirm Order</h1>
        <!-- Confirmation form -->
    {% else %}
        <div style="padding-left: 5%; padding-right: 5%;">
            <h1 style="text-align: center;">My Commande</h1>
            <div style="display: flex; justify-content: center;">
                <table class="table" style="width: 50%;">
                    <thead>
                        <tr>
                            <th>Price</th>
                            <th>States</th>
                            <th>Repas Information</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for key, commande in commandes %}
                        <tr>
                            <td>{{ commande.prix }}</td>
                            <td>{{ commande.etat }}</td>
                            <td>
                                <!-- Display Repas information -->
                                {% if repas[key] is defined %}
                                    <ul>
                                        <li><strong>Name:</strong> {{ repas[key].nom }}</li>
                                        <li><strong>Type:</strong> {{ repas[key].type }}</li>
                                        <li><strong>Type:</strong> {{ repas[key].tags }}</li>
                                        <!-- Add other Repas properties as needed -->
                                    </ul>
                                {% else %}
                                    <em>No Repas information available</em>
                                {% endif %}
                            </td>
                            <td>
                                {% if commande.etat == 'En cours' %}
                                    <form method="post" action="{{ path('app_send_confirmation_email', {'id': commande.id}) }}">
                                        <button type="submit" class="btn btn-primary">Send Confirmation Email</button>
                                    </form>
                                    {{ include('commande_client/_delete_form.html.twig') }}
                                    {% endif %}
                                <!-- Links to show and edit actions -->
                              
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">No records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
      
    {% endif %}
{% endblock %}
