<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Livraison Information</title>
    <style>
        /* Define your PDF styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #33f;
            text-shadow: 1px 1px 1px #ccc;
            font-size: 28px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 12px;
        }
        th {
            background-color: #f0f0f0;
            color: #33f;
            font-weight: bold;
            font-size: 14px;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        tr:hover {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
    <h1>Livraison Information</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Commande ID</th>
                <th>Date</th>
                <th>Adresse</th>
                <th>Num Tel Livreur</th>
            </tr>
        </thead>
        <tbody>
            {% for livraison in livraisons %}
                <tr>
                    <td>{{ livraison.id }}</td>
                    <td>{{ livraison.user.username }}</td>
                    <td>{{ livraison.idCommande }}</td>
                    <td>{{ livraison.date|date('Y-m-d') }}</td>
                    <td>{{ livraison.adresse }}</td>
                    <td>{{ livraison.numTelLivreur }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
